@model MovieWeb.Models.MovieDetailViewModel

<h1>@Model.Title</h1>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Genre</strong>
<p>@Model.Genre</p>

<strong>Release Date</strong>
<p>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>
