@model IEnumerable<MovieWeb.Models.MovieListViewModel>

<h1>Film overzicht</h1>

@if(Model == null || !Model.Any())
{
    <p>Er zijn geen films!</p>
}
else
{
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>
                @movie.Title
            </td>
            <td>
                <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id">Detail</a>
            </td>
            <td>
                <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
            </td>
            <td>
                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}



<a asp-controller="Movie" asp-action="Create">Create movie</a>
