@model IEnumerable<MovieWeb.Models.MovieListViewModel>

<table>
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td>
                    @movie.Title
                </td>
            </tr>
        }
    </tbody>
</table>